{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
    <script src="https://use.typekit.net/hoy3lrg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'>
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/chat/style_chat.css' %}" />
  </head>

<body>
  <div id="frame">
    <div id="sidepanel">
      <div id="profile">
        <div class="wrap">
        {% if user.profile_image %}
            <img id="profile-img" src="{{ user.profile_image.url }}" class="online" alt="" />       
        {% else %}
            <img id="profile-img" src="{% static 'img/bot.avif' %}" class="online" alt="" />
        {% endif %}

          <p style="font-size:30px;">{{ user.username }}</p>
          <i class="fa fa-chevron-down expand-button" aria-hidden="true"></i>
          <div id="status-options">
            <ul>
              <li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
              <li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
              <li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
              <li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
            </ul>
          </div>
          <div id="expanded">
            <label for="facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></label>
            <input name="facebook" type="text" value="mikeross" />
            <label for="twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></label>
            <input name="twitter" type="text" value="ross81" />
            <label for="instagram"><i class="fa fa-instagram fa-fw" aria-hidden="true"></i></label>
            <input name="instagram" type="text" value="mike.ross" />
        </div>
        </div>
      </div>
      <div id="search">
        <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
        <input type="text" placeholder="Search contacts..." />
      </div>
      <div id="contacts">
        <ul>
          {% for item in combined_list %}
          <li class="contact">
              <div class="wrap">
                  <span class="contact-status online"></span>
                  {% if item.profile_image %}
                      <img src="{{ item.profile_image.url}}"/>
                  {% elif item.grp_image %}    
                      <img src="{{ item.grp_image.url }}"/>
                  {% elif item.profile_image is None %}
                      <img src="{% static 'img/header.jpg' %}" alt="Default Profile Picture"/>
                  {% elif item.grp_image is None %}
                      <img src="{% static 'img/bot.avif' %}" alt="Default Profile Picture"/>
                  {% endif %}
                  <div class="meta">
                      <p style="font-size:20px;">{% if item.name %}{{ item.name }}{% else %}{{ item.username }}{% endif %}</p>
                  </div>
              </div>
          </li>
      {% endfor %}
      
        </ul>
      </div>
      <div id="bottom-bar">
        <!--<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>-->
        <a href="{% url 'chat' %}">
            <button id="addcontact">
                <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>
                <span>Add Group</span>
            </button>
        </a>
      </div>
    </div>
    <div class="content">
      <div class="contact-profile">
        <img src="{% static 'img/profile1.png'%}" alt="" />
        <p>{{ username }}</p>
        <div class="social-media">
          <a href="{% url 'logout' %}" style="margin-right: 30px;border-radius: 10%;">
            <button>
                <span style="font-size: 20px;">Log Out</span>
            </button>
          </a>
        </div>
      </div>
      <div class="messages">
        
        <ul id="chat-log">
        </ul>
      </div>
      <div class="message-input">
        <div class="wrap">
        <input id="chat-message-input" type="text" placeholder="Write your message..." />
        <i class="fa fa-paperclip attachment" aria-hidden="true"></i>
        <button id="chat-message-submit" class="submit">
          <i class="fa fa-paper-plane" aria-hidden="true"></i>
        </button>
        </div>
      </div>
    </div>
  </div>

<script src="{% static 'js/chat/chat_main.js' %}"></script>
<script src="{% static 'js/chat/reconnecting-websocket.js' %}"></script>
<script>
    var groupName = {{ group_name }};
    var username = {{ username }};

    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + groupName + '/');

    chatSocket.onopen = function(e) {
      fetchMessages();
    }

    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
        if (data['command'] === 'messages') {
          for (let i=0; i<data['messages'].length; i++) {
            createMessage(data['messages'][i]);
          }
        } else if (data['command'] === 'new_message'){
          createMessage(data['message']);
        }
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.getElementById('chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
            'command': 'new_message',
            'message': message,
            'from': username
        }));

        messageInputDom.value = '';
    };

    function fetchMessages() {
      chatSocket.send(JSON.stringify({'command': 'fetch_messages' }));
    }

    function createMessage(data) {
      var author = data['author'];
      var msgListTag = document.createElement('li');
      var imgTag = document.createElement('img');
      var pTag = document.createElement('p');
      pTag.textContent = data.content;
      
      if (author === username) {
        {% if user.profile_image %}
            imgTag.src = '{{ user.profile_image.url }}';
        {% else %}
            imgTag.src = '{% static 'img/bot.avif' %}';
        {% endif %}

        msgListTag.className = 'replies';
    } else {
        msgListTag.className = 'sent';
    }
    
      msgListTag.appendChild(imgTag);
      msgListTag.appendChild(pTag);
      document.querySelector('#chat-log').appendChild(msgListTag);
    }

</script>
</body>

</html>